<section class="container my-5" style="min-height: 70vh">
    <div class="d-flex align-items-centr justify-content-center">
        <!-- Box of the download file content  -->
        <%- include('../partials/DownloadBox.ejs')%>
    </div>
</section>