<div class="d-flex align-items-center w-50 d-block mx-auto border border-danger px-3 py-2 flex-column" style="min-height: 50vh">
    <!-- Preview of the file  -->
    <div style="min-height: 40vh">
        <img src="" alt="preview" class="img-fluid border border-danger rounded-start" style="max-width: 100px;max-height: 50px;" id="previewImg">
    </div>

    <!-- name of the file,with size  -->
        <h5 class="fs-5">File Name: <span class="text-primary fw-bold">2343094803483.png</span> </h5>
        <h6 class="fs-6">Size: <span class="text-primary fw-bold">3482340234</span> KB</h6>
  

    <!-- download button to download the file  -->
    <div>
        <a href="/downloadFile"><button class="btn btn-primary">Download</button></a>
    </div>
</div>