<section class="container my-3 border shadow-lg p-3 mb-5 bg-body rounded">
    <h2>Also can <span class="text-primary fw-bold">Share </span>file via Email</h2>
    <form method="POST" action="/sendMail">
        <div class="mb-3">
          <label for="sender" class="form-label">Enter Your Email</label>
          <input type="email" class="form-control" id="sender" aria-describedby="emailHelp" minlength="7" required>
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="receiver" class="form-label">Enter Receiver Email</label>
          <input type="email" class="form-control" id="receiver" name="sender" minlength="7" required onfocus="false">
        </div>
     
        <button type="submit" class="btn btn-primary">Send Mail</button>
      </form>
</section>