<section class="container my-3 border border-dark rounded-start shadow-lg p-3 bg-body rounded">
  <form method="POST" action="/uploadFile" enctype="multipart/form-data">

    <div class="mb-3">
      <label for="file" class="form-label">Upload A <sapn class="text-primary fw-bold"> File</sapn> To Share</label>
      <input type="file" class="form-control" id="file" name="file">
    </div>

    <button type="submit" class="btn btn-primary">Upload</button>
  </form>
  </section>