<section class="container-fluid p-0 m-0" style="background-color: rgb(248, 242, 230)">
    <div class="d-flex align-items-center justify-content-center flex-column">
    <div>
        <img src="/img/error.gif" alt="error" class="img-fluid">
    </div>

    <a href="/"><button class="btn btn-danger my-2 mx-2">Go Home</button></a>
</div>
</section>