<!-- Alerts component , for show msgs -->
<%- include('../partials/Alerts')%>

<main class="container my-3" style="min-height: 80vh">   
    <h1><span class="text-primary">Uploads</span> Your Files To Share With Your Buddy 😤
    </h1>
    <p class="lead"><span class="text-primary fw-bold">fshare</span>-A online file sharing app, can help you to, when
        uploads the files and after sharing get the links(of downloading) ,Copy the link and share with anyone</p>
    <p class="lead">Also can email the person to share the file downloading link</p>

    <!-- Upload file component  -->
    <%- include('../partials/UploadFile.ejs')%>

    <!-- Copy upload link  -->
    <%- include('../partials/copyLink.ejs')%>

</main>